@use 'variables' as v;

body {
  font-family: "Roboto", sans-serif;
  background-color: v.$bg-color;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

hr {
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: v.$color-white;
}

.swiper {
  width: 70%;
  height: 300px;
}